<div class="w-[100%] h-[40vh]">
    <h1>{{section.settings.title}}</h1>
    <img class="w-[100%] h-[100%] object-cover" src="{{ section.settings.zeva_image_1 | img_url: 'master' }}" alt="bannerImg" />
</div>


{% schema %}
    {
        "name": "banner collection",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Menu",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "zeva_image_1",
                "label": "Image"
            }
        ]
    }
{% endschema %}