<div class="w-full h-40vh flex justify-center items-center relative">
    <h1 class="bg-transparent text-center text-white font-bold text-2xl absolute p-10" style="background-color: #00000082;">{{ section.settings.title }}</h1>
    <img class="w-full h-[40vh] object-cover" src="{{ section.settings.zeva_image_1 | img_url: 'master' }}" alt="bannerImg" />
</div>




{% schema %}
    {
        "name": "banner collection",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Banner Title",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "zeva_image_1",
                "label": "Image"
            }
        ]
    }
{% endschema %}