<h1>AQUII VA A IR EL BANNER</h1>
<h1>{{ section.settings.title }}</h1>

{% schema %}
    {
        "name": "banner collection",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "presets": [
            {
                "name": "banner collection"
            }
        ]
    }
    {% endschema %}