<h1>AQUII VA A IR EL BANNER</h1>
<h1>{{ section.settings.title }}</h1>
<img src="{{ section.settings.zeva_image_1 | img_url: 'master' }}" />

{% schema %}
    {
        "name": "banner collection",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "zeva_image_1",
                "label": "Image"
            }
        ]
    }
{% endschema %}